@import "../node_modules/bootswatch/dist/zephyr/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/zephyr/bootswatch";

@import "./colors.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

h1, h2, h3, h4, h5, h6 {
    @extend .text-white;
}
nav {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .bg-body-tertiary;
}
pre {
  white-space: pre-wrap;
}
.avatar-bg {
    background-image: url("../images/background.png");
}
.avatar {
    @extend .rounded-circle;
    @extend .mx-auto;
    @extend .d-block;
    display: inline;
    height: 7em;
}
.skin-render {
    @extend .mx-auto;
    @extend .d-block;
    display: inline;
}
.jumbotron {
    text-align: center;
}

@media (min-width: 576px) {
    /*sm equivalent*/
    .avatar {
      height: 7em;
    }
}
  @media (min-width: 768px) {
    /*md equivalent*/
    .jumbotron {
        text-align: left;
    }
    .avatar {
      height: 10em;
    }
}
  @media (min-width: 992px) {
    .search {
      width: 50%;
    }
}
  @media (min-width: 1200px) {
    /*xl equivalent*/
}