@import "../node_modules/bootswatch/dist/zephyr/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/zephyr/bootswatch";
@import "./colors.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

@font-face {
  font-family: 'MinecraftSeven';
  src:
    url('../fonts/Minecraft-Seven_v2.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #140c19;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  margin-top: auto;
  padding: 20px;
  font-family: 'MinecraftSeven', sans-serif;
  background-color: #140c19a6;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    @extend .text-white;
    font-family: 'MinecraftSeven', sans-serif;
}
nav {
    @extend .navbar;
    @extend .navbar-expand-lg;
    font-family: 'MinecraftSeven', sans-serif;
}
pre {
  white-space: pre-wrap;
}
th.theader {
  text-align: center;
}

.bg-body-tertiary {
  background-color: #140c19a6 !important;
}
.bg-body-secondary {
  --bs-bg-opacity: 1;
  background-color: #140c19a6 !important;
}
.bg-body {
  background-color: #140c19a6 !important;
}
.container {
  font-family: 'MinecraftSeven', sans-serif;
}

.avatar-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin-render {
    margin: auto;
}
.jumbotron {
    text-align: center;
}
.search {
  font-family: MinecraftSeven;
}

.card {
  color: rgb(255, 255, 255);
  background-color: #140c19a6 !important;
  margin-bottom: 20px;
}

.card.dashboard {
  min-width: 60%;
}

.card-header {
  text-align: center;
  color: rgb(253, 253, 253);
  padding: 1em 0;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center; /* Add this line */
  align-items: center;
}

.card-body {
  padding: 3em var(--bs-card-spacer-x);
  background-color: #140c19a6 !important;
  height: 100%;
}

.form-select,
.form-control,
.btn {
  border-radius: 0;
}
.form-control, .form-select {
  background-color: #140c19a6 !important;
}
.counter {
  margin-top: 3%;
  margin-bottom: 5%;
}
.accordion {
  margin-bottom: 5%;
}
.javajson-display, .bedrockjson-display {
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.imgerror {
  max-width: 60%;
  min-width: 20%;
  height: auto;
}
.fourofour {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.container.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
}
.container.center.dashboard {
  min-height: calc(100vh - 200px); /* Adjust the value as needed */
}
@media (min-width: 576px) {
    /*sm equivalent*/
    .avatar {
      height: 7em;
    }
}
@media (min-width: 768px) {
    /*md equivalent*/
    .jumbotron {
        text-align: left;
    }
    .avatar {
      height: 10em;
    }
}
@media (min-width: 992px) {
    .search {
      width: 50%;
    }
}
@media (min-width: 1200px) {
    /*xl equivalent*/
}