<footer>
    <hr>
    ©Copyright Kejona 2022- All Right Reserved.
    <p><a href="https://github.com/kejonaMC">GitHub</a></p>
    <p><a href="https://discord.com/invite/M2SvqCu4e9">Join our Discord.</a></p>
</footer>

</html>