<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-5 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 MC-Profile by Kejona &ndash; All rights reserved. Site layout by <a href="https://github.com/TheMonBonGH" target="_blank">monbon</a>.</span>
          </div>
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="https://github.com/kejonaMC" target="_blank"><i class="bi bi-github" style="font-size:24px;"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://discord.com/invite/M2SvqCu4e9" target="_blank"><i class="bi bi-discord" style="font-size:24px;"></i></a></li>
          </ul>
    </footer>
</div>
</html>