<header>
    <ul class="nav">
        <li><a href="/">Gamertag Lookup</a></li>
        <li><a href="/fuuid">Floodgate UUID Lookup</a></li>
        <li><a href="/endpoints">API Endpoints</a></li>
    </ul>
</header>