<header>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/gamertag">Gamertag Lookup</a></li>
        <li><a href="/floodgate">Floodgate Lookup</a></li>
        <li><a href="/endpoints">API Endpoints</a></li>
    </ul>
</header>