<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-body-tertiary mb-4">
    <div class="container">
      <a class="navbar-brand" href="/">MC-Profile</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" id="nav-lookup">Profiles lookup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/endpoints" id="nav-endpoints">API Endpoints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/documentation" id="nav-documentation">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.paypal.com/donate/?hosted_button_id=XDMMA4NXTKKCU" target="_blank" id="nav-donate">Donate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://status.kejona.dev/" id="nav-status">Services Status</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>