<header>
    <!--
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/gamertag">Gamertag Lookup</a></li>
        <li><a href="/floodgate">Floodgate Lookup</a></li>
        <li><a href="/endpoints">API Endpoints</a></li>
    </ul>-->
    <nav class="navbar navbar-expand-md navbar-dark bg-body-tertiary mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">KejonaMC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/gamertag">Gamertag Lookup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/floodgate">Floodgate UUID Lookup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/endpoints">API Endpoints</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>