<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container my-auto">
        <div class="h-100 p-5 bg-body-tertiary rounded-3">
            <h2>Error 404</h2>
            <p>File not found.</p>
            <input type="button" class="btn btn-primary" onclick="location.href='/';" value="Go Back" />
          </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>