<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container my-auto">
        <div class="h-100 p-5 bg-body-tertiary rounded-3">
            <img src="/images/404.png" alt="Alt text">
            <p>Hmm could not find what you were looking for.</p>
            <input type="button" class="btn btn-primary btnfour" onclick="location.href='/';" value="Go Back" />
          </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>