<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container my-auto"> 
        <div class="fourofour">
            <img src="/images/error404.png" class="imgerror" alt="Alt text">
            <p>Hmm could not find what you were looking for.</p>
            <input type="button" class="btn btn-primary btnfour" onclick="location.href='/';" value="Go Back" />
        </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>