body {
    margin-top: 3%;
    background: #1F2937;
    color: white;
    font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-size: 110%;
    font-weight: 400;
}

header {
    margin-bottom: 10%;
}

footer {
    margin-top: 15%;
    text-align: center;
    color: white;
    font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-size: 1rem;
    font-weight: 100;
}

a:hover {
    cursor: pointer;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: rgb(168, 168, 168);
    background-color: transparent;
    text-decoration: none;
}

ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    align-items: center;
    display: flex;
    justify-content: center;
}

ul.nav li {
    border-right:1px solid #374151; 
    float:left;
}

ul.nav a {
    display:block;
    padding:0 28px;
    color:#ffffff;
    text-decoration:none;
}

ul.nav a:hover,
ul.nav li.current a {
    background:#374151;
}

.code {
    font-family: Consolas, "courier new";
    color: rgb(255, 255, 255);
    padding: 2px;
    border: 2px solid rgb(255, 255, 255);
    font-size: min(max(5px, 3vw), 15px);
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block
}

.info-box {
    margin-top: 10%;
    font-size: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.form {
    text-align: center;
}

input[type=text],
select,
textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 2px;
    margin-bottom: 10px;
    resize: vertical;
}

.heading {
    font-size: 40px;
    font-weight: 600;
    background-color: #ffffff;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}
.title {
    text-align: center;
}

.box {
    background: #374151;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    max-width: 300px;
    max-height: 10%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.btn {
    display:block;
    margin-top: 40px;
    width: 120px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: none;
    background-color: #4338CA;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

.btn:hover {
    border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width:30em) {
    a.button4 {
        display: block;
        margin: 0.2em auto;
    }
}

.gamertag-icon {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.gamertag-username {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gamertag-xuid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gamertag-fuid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.accordion {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5px;
    width: 60%;
    background-color: #374151;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    border: 1px solid #ffffff;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    overflow: auto;
    display: block;
}

.active,
.accordion:hover {
    background-color: #5c6572;
}

.panel {
    margin: auto;
    color: rgb(255, 255, 255);
    padding: 0 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    background-color: #374151;
    overflow: auto;
    width: 40%;
}