<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>      
    <div class="box">
        <h1 class="heading">Could not find account.</h1>
        <input type="button" class="btn" onclick="location.href='/';" value="Go Back" />
    </div>
</body>

<%- include('../partials/footer.ejs') %>