<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container my-auto">
        <div class="h-100 p-5 bg-body-tertiary rounded-3">
            <h2>Unfortunately we couldn't find your account :(</h2>
            <p>Make sure that you look up the correct name and that you have not made any spelling mistakes!</p>
            <input type="button" class="btn btn-primary" onclick="location.href='/';" value="Go Back" />
          </div>
    </div>
</body>


<%- include('../partials/footer.ejs') %>