<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container my-auto">
        <div class="h-100 p-5 bg-body-tertiary rounded-3">
            <h2>We couldn't find the account you wanted to search.</h2>
            <p>An incorrect Gamertag or FUUID was provided. Please double-check that the input is spelled correctly and try again.</p>
            <input type="button" class="btn btn-primary" onclick="location.href='/';" value="Go Back" />
          </div>
    </div>
</body>


<%- include('../partials/footer.ejs') %>