<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
  <div class="container">
    <div class="p-md-5 mb-4 bg-body-tertiary border rounded-3 jumbotron">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Endpoints</h1>
        <p class="col-md-8 fs-4">
          To access the API, you must generate an API key by logging in and clicking the "Generate" button. 
          Include the generated API key in the request header using 'x-api-key': apiKey. 
          <br>
          The base URL for the API is: <a href="https://mcprofile.io">https://mcprofile.io</a>
        </p>
      </div>
    </div>
    <div class="accordion" id="rest-accordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collasped bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            [GET] /api/v1/bedrock/xuid/{xuid}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                <pre id="bedrock-container1"></pre>
              </code>
              If linked is false java* will not be present.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            [GET] /api/v1/bedrock/gamertag/{gamertag}
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                <pre id="bedrock-container2"></pre>
              </code>
              If linked is false java* will not be present.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            [GET] /api/v1/bedrock/fuid/{fuid}
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                <pre id="bedrock-container3"></pre>
              </code>
              If linked is false java* will not be present.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFoor">
          <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFoor" aria-expanded="false" aria-controls="collapseFoor">
            [GET] /api/v1/java/username/{username}
          </button>
        </h2>
        <div id="collapseFoor" class="accordion-collapse collapse" aria-labelledby="headingFoor"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                <pre id="java-container1"></pre>
              </code>
              If linked is false bedrock* will not be present.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            [GET] /api/v1/java/uuid/{uuid}
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                <pre id="java-container2"></pre>
              </code>
              If linked is false bedrock* will not be present.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('../partials/footer.ejs') %>

<script>
  document.getElementById("nav-endpoints").classList.add("active")
  var bedrockjson = {"gamertag":"kobenetwork","xuid":"25332248730d7792","floodgateuid":"00000000-0000-0000-0009-000004ed8eb0","icon":"https://images-eds-ssl.xboxlive.com/image?url=img&format=png","gamescore":"14895","accounttier":"Silver","textureid":"5006a1a7340","skin":"https://textures.minecraft.net/texture/5006a1a7340","linked":true,"java_uuid":"cb7a4c0c-a7cd-4846-8bdf-477de8f5f3ee","java_name":"jensco"}
  var javajson = {"username":"jensco","uuid":"cb7a4c0c-a7cd-4846-8c6f-477de8f5d3ee","skin":"http://textures.minecraft.net/texture/123","cape":"http://textures.minecraft.net/texture/123","linked":true,"bedrock_gamertag":"kobenetwork","bedrock_xuid":2533224873007792,"bedrock_fuid":"00000000-0000-0000-0009-000004ed8eb0"}
  
  var formattedBedrockJson = JSON.stringify(bedrockjson, null, 2)
  var formattedJavaJson = JSON.stringify(javajson, null, 2)

  document.getElementById("bedrock-container1").textContent = formattedBedrockJson
  document.getElementById("bedrock-container2").textContent = formattedBedrockJson
  document.getElementById("bedrock-container3").textContent = formattedBedrockJson
  document.getElementById("java-container1").textContent = formattedJavaJson
  document.getElementById("java-container2").textContent = formattedJavaJson

</script>