<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
  <div class="container">
    <div class="p-md-5 mb-4 bg-body-tertiary border rounded-3 jumbotron">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">API</h1>
        <p class="col-md-8 fs-4">
          An API endpoint to retrieve someone's Minecraft profile:<br>
          Base URL: <a href="https://kejona.dev">https://kejona.dev</a>
        </p>
      </div>
    </div>
    <div class="accordion" id="rest-accordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collasped bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            [GET] /api/v1/bedrock/xuid/{xuid}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                        <br>
                        {
                            <br>
                            &emsp;"gamertag":"ImSoAwesomeDude",
                            <br>
                            &emsp;"xuid":"2534567803960946",
                            <br>
                            &emsp;"floodgateuid":"00000000-0000-0000-0001-02fd33445566",
                            <br>
                            &emsp;"icon":"https://preview.redd.it/2uyj7hu2d4x31.jpg",
                            <br>
                            &emsp;"gamescore":"485",
                            <br>
                            &emsp;"accounttier":"Silver",
                            <br>
                            &emsp;"textureid":"b927ccb310b62437c5eb7b5818c18dd170a1890ca433aa74c7dbd1d476fe19e9",
                            <br>
                            &emsp;"skin":"https://mc-heads.net/body/b927ccb310b62437c5eb7b5818c18dd170a1890ca433aa74c7dbd1d476fe19e9",
                            <br>
                            &emsp;"isLinked":true,
                            <br>
                            &emsp;"java_uuid":"1c7f6d74-2c65-4d6a-a6e2-575351171c76",
                            <br>
                            &emsp;"java_name":"Jens_Co",
                            <br>
                        }
                    </code>
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            [GET] /api/v1/bedrock/gamertag/{gamertag}
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                        <br>
                        {
                          <br>
                          &emsp;"gamertag":"ImSoAwesomeDude",
                          <br>
                          &emsp;"xuid":"2534567803960946",
                          <br>
                          &emsp;"floodgateuid":"00000000-0000-0000-0001-02fd33445566",
                          <br>
                          &emsp;"icon":"https://preview.redd.it/2uyj7hu2d4x31.jpg",
                          <br>
                          &emsp;"gamescore":"485",
                          <br>
                          &emsp;"accounttier":"Silver",
                          <br>
                          &emsp;"textureid":"b927ccb310b62437c5eb7b5818c18dd170a1890ca433aa74c7dbd1d476fe19e9",
                          <br>
                          &emsp;"skin":"https://mc-heads.net/body/b927ccb310b62437c5eb7b5818c18dd170a1890ca433aa74c7dbd1d476fe19e9",
                          <br>
                          &emsp;"isLinked":true,
                          <br>
                          &emsp;"java_uuid":"1c7f6d74-2c65-4d6a-a6e2-575351171c76",
                          <br>
                          &emsp;"java_name":"Jens_Co",
                          <br>
                        }
                    </code>
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            [GET] /api/v1/bedrock/fuid/{fuid}
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                        <br>
                        {
                          <br>
                          &emsp;"gamertag":"ImSoAwesomeDude",
                          <br>
                          &emsp;"xuid":"2534567803960946",
                          <br>
                          &emsp;"floodgateuid":"00000000-0000-0000-0001-02fd33445566",
                          <br>
                          &emsp;"icon":"https://preview.redd.it/2uyj7hu2d4x31.jpg",
                          <br>
                          &emsp;"gamescore":"485",
                          <br>
                          &emsp;"accounttier":"Silver",
                          <br>
                          &emsp;"textureid":"b927ccb310b62437c5eb7b5818c18dd170a1890ca433aa74c7dbd1d476fe19e9",
                          <br>
                          &emsp;"skin":"https://mc-heads.net/body/b927ccb310b62437c5eb7b5818c18dd170a1890ca433aa74c7dbd1d476fe19e9",
                          <br>
                          &emsp;"isLinked":true,
                          <br>
                          &emsp;"java_uuid":"1c7f6d74-2c65-4d6a-a6e2-575351171c76",
                          <br>
                          &emsp;"java_name":"Jens_Co",
                          <br>
                        }
                    </code>
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFoor">
          <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFoor" aria-expanded="false" aria-controls="collapseFoor">
            [GET] /api/v1/java/username/{username}
          </button>
        </h2>
        <div id="collapseFoor" class="accordion-collapse collapse" aria-labelledby="headingFoor"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                    <br>
                    {
                      <br>
                      &emsp;"name":"rtm516",
                      <br>
                      &emsp;"uuid":"cb7a4cqc-a7cd-4846-8b6f-477de8f5f3ee",
                      <br>
                      &emsp;"textureid":"ewogICJ0aW1lc3RhbXAiIDogMTY4MjExNjg3ODI3MSwKICAicHJvZmlsZUlkIiA6ICJjYjdhNGMwY2E3Y2Q0ODQ2OGI2ZjQ3N2RlOGY1ZjNlZSIsCiAgInByb2ZpbGVOYW1lIiA6ICJydG01MTYiLAogICJ0ZXh0dXJlcyIgOiB7CiAgICAiU0tJTiIgOiB7CiAgICAgICJ1cmwiIDogImh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvMzk1YjFlNDNlMzZlOTQzODcwYTRhZGY4ZGNkMzA3MzgzMDg4YjZkNDVkYzlkZmZmZWI4YWE5NzgxMzM0MmQxMCIKICAgIH0sCiAgICAiQ0FQRSIgOiB7CiAgICAgICJ1cmwiIDogImh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZjlhNzY1Mzc2NDc5ODlmOWEwYjZkMDAxZTMyMGRhYzU5MWMzNTllOWU2MWEzMWY0Y2UxMWM4OGYyMDdmMGFkNCIKICAgIH0KICB9Cn0",
                      <br>
                      &emsp;"skin":"https://mc-heads.net/body/rtm516",
                      <br>
                      &emsp;"isLinked":true,
                      <br>
                      &emsp;"bedrock_gamertag":"rtm516",
                      <br>
                      &emsp;"bedrock_xuid":"2533274873007797",
                      <br>
                      &emsp;"bedrock_fuid":"00000000-0000-0000-0009-000004ec8eb0",
                      <br>
                        }
                    </code>
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            [GET] /api/v1/java/uuid/{uuid}
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#rest-accordion">
          <div class="accordion-body bg-body-tertiary">
            <h4>Server Response:</h4>
            <p>
              <code>
                        <br>
                        {
                          <br>
                          &emsp;"name":"rtm516",
                          <br>
                          &emsp;"uuid":"cb7a4cqc-a7cd-4846-8b6f-477de8f5f3ee",
                          <br>
                          &emsp;"textureid":"ewogICJ0aW1lc3RhbXAiIDogMTY4MjExNjg3ODI3MSwKICAicHJvZmlsZUlkIiA6ICJjYjdhNGMwY2E3Y2Q0ODQ2OGI2ZjQ3N2RlOGY1ZjNlZSIsCiAgInByb2ZpbGVOYW1lIiA6ICJydG01MTYiLAogICJ0ZXh0dXJlcyIgOiB7CiAgICAiU0tJTiIgOiB7CiAgICAgICJ1cmwiIDogImh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvMzk1YjFlNDNlMzZlOTQzODcwYTRhZGY4ZGNkMzA3MzgzMDg4YjZkNDVkYzlkZmZmZWI4YWE5NzgxMzM0MmQxMCIKICAgIH0sCiAgICAiQ0FQRSIgOiB7CiAgICAgICJ1cmwiIDogImh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZjlhNzY1Mzc2NDc5ODlmOWEwYjZkMDAxZTMyMGRhYzU5MWMzNTllOWU2MWEzMWY0Y2UxMWM4OGYyMDdmMGFkNCIKICAgIH0KICB9Cn0",
                          <br>
                          &emsp;"skin":"https://mc-heads.net/body/rtm516",
                          <br>
                          &emsp;"isLinked":true,
                          <br>
                          &emsp;"bedrock_gamertag":"rtm516",
                          <br>
                          &emsp;"bedrock_xuid":"2533274873007797",
                          <br>
                          &emsp;"bedrock_fuid":"00000000-0000-0000-0009-000004ec8eb0",
                          <br>
                        }
                    </code>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<%- include('../partials/footer.ejs') %>

<script>
  document.getElementById("nav-endpoints").classList.add("active");
</script>