<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="d-flex align-items-center justify-content-center mx-auto flex-column">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Floodgate Lookup
                </div>
                <div class="card-body">
                    <form action="/floodgate" method="POST" class="form d-grid">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="floodgate" placeholder="KejonaMC1234" required>
                            <label for="uuid">Floodgate UUID</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>