<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <h5 class="title">Floodgate UUID Lookup</h5>
    <div class="box">
        <form action="/" method="POST" class="form">
            <input type="text" name="fuuid" placeholder="Floodgate UUID" required>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>

<%- include('../partials/footer.ejs') %>