<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <h5 class="title">Gamertag Lookup</h5>
    <div class="box">
        <form action="/" method="POST" class="form">
            <input type="text" name="gamertag" placeholder="Gamertag" required>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>

<%- include('../partials/footer.ejs') %>