<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="kejona">
        <h1>KejonaMC</h1>
        <p>
            Welcome to the official KejonaMC website.
        </p>
    </div>
</body>

<%- include('../partials/footer.ejs') %>