<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="kejona">
        <h1>KejonaMC</h1>
        <p>
            A development group focused on creating plugins to enhance the Bedrock <-> Java player experience.
        </p>
        <br>
    </div>
    <div class="kejona-info">
        <h4>Gamertag/Floodgate lookup</h4>
        <p>
            Is an easy way to retrieve aditional data; Floodgate uuid / XUID / Gamertag from a specific Gamertag or Floodgate uuid.
        </p>
    </div>
</body>

<%- include('../partials/footer.ejs') %>