<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container search">
        <div class="card">
            <div class="card-header">
                Bedrock account lookup
            </div>
            <div class="card-body">
                <form action="/lookup" method="POST" class="form d-grid d-md-block">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="lookup" placeholder="KejonaMC1234" required>
                        <label for="uuid">Gamertag or FUUID</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="lookupOption" id="gamertag-radio" value="Gamerstag" checked>
                        <label class="form-check-label" for="gamertag-radio">
                          Gamertag
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="lookupOption" value="Fuuid" id="uuid-radio">
                        <label class="form-check-label" for="uuid-radio">
                          Floodgate UUID
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>