<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container search">
        <div class="card">
            <div class="card-header">
                Bedrock account lookup
            </div>
            <div class="card-body">
                <form action="/lookup" method="POST" class="form d-grid">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="lookup" placeholder="KejonaMC1234" required>
                        <label for="uuid">Gamertag or FUUID</label>
                        <br>
                        <input type="radio" name="lookupOption" value="Gamertag" checked="checked">Gamertag<br>
                        <input type="radio" name="lookupOption" value="Fuuid">Floodgate UUID<br>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>