<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <div class="container search">
        <div class="card">
            <div class="card-header">
                Minecraft Profile lookup
            </div>
            <div class="card-body">
                <form action="/lookup" method="POST" class="form d-grid d-md-block">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="lookup" placeholder="KejonaMC1234" required>
                        <label for="uuid">Bedrock-Java / Username-UUID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" name="lookupOption" required>
                            <option value="">Select Search Option</option>
                            <option value="Bedrock Username">Bedrock Username</option>
                            <option value="Java Username">Java Username</option>
                            <option value="Fuuid">Floodgate UUID</option>
                            <option value="Juuid">Java UUID</option>
                        </select>
                        <label for="lookupOption">Search Option</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>
