/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #11260b;
  background-color: #a7e097;
  border-color: #9adb87;
}

.alert-primary hr {
  border-top-color: #89d673;
}

.alert-primary .alert-link {
  color: #000000;
}

.badge-primary {
  color: #fff;
  background-color: #3c8527;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #2a5d1b;
}

.bg-primary {
  background-color: #3c8527 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #2a5d1b !important;
}

.border-primary {
  border-color: #3c8527 !important;
}

.btn-primary {
  color: #fff;
  background-color: #3c8527;
  border-color: #3c8527;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2f691e;
  border-color: #2a5d1b;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 133, 39, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #3c8527;
  border-color: #3c8527;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2a5d1b;
  border-color: #245117;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 133, 39, 0.5);
}

.btn-outline-primary {
  color: #3c8527;
  background-color: transparent;
  border-color: #3c8527;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #3c8527;
  border-color: #3c8527;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 133, 39, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #3c8527;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #3c8527;
  border-color: #3c8527;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 133, 39, 0.5);
}

.list-group-item-primary {
  color: #11260b;
  background-color: #9adb87;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #11260b;
  background-color: #89d673;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #11260b;
  border-color: #11260b;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #9adb87;
}

.table-hover .table-primary:hover {
  background-color: #89d673;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #89d673;
}

.text-primary {
  color: #3c8527 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #2a5d1b !important;
}/*# sourceMappingURL=colors.css.map */